@font-face {

    font-family: cerebri sans;
    src: url(../fonts/IRANSans_Light.ttf);
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden!important;
    overflow-y: auto !important;
}
body {
    --bg-gray: #f0f0f0;
    --light-gray: #cfd4da;
    --middle-gray: #bcbcbc;
    --gray: #6c757e;
    --orange: #fe7e13;
    --red: #ea2f42;

    text-align: right;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cerebri sans;
    background-color: var(--bg-gray);
    font-size: 1rem;
}
.search {
    direction: ltr;
}
.search input:focus{
    color: var(--gray);
    font-size: 0.85rem;    
}
.search .input-group input,
.search .input-group .input-group-text,
.header-top button {
    border-radius: 15px;
    border: 1px solid var(--light-gray);
}
.header-top {
    border-color: var(--middle-gray) !important;
}
.bg-warning {
    background-color: var(--orange) !important;
    color: var(--bg-gray);
}
.badge-danger {
    /* background-color: var(--red) !important;
    color: var(--bg-gray); */
    margin-right: 9.5px;
}
.text-warning{
    color: var(--orange) !important;
}
.search .form-control::placeholder {
    color: var(--middle-gray);
    opacity: 1; /* Firefox */
}
.header-menu #navbarSupportedContent li :hover{
  color: var(--orange) !important;
    
}
.header-top .fa.fa-user,
.header-top .fa.fa-shopping-cart{
    color: var(--middle-gray) !important;
}
.header-top .col-lg-3 button .fa-user,
.header-top .col-lg-3 button .fa-shopping-cart {
    vertical-align: middle;
}
.header-top .col-lg-3 button :hover {
    margin-top: 2px !important;
}
.header-menu .fa-caret-down{
    margin-right: 0.75rem !important;
    padding-right: 0 !important;
}
.header-menu .fa-phone,
.header-menu .fa-info-circle{
    font-size: 1.5rem !important;
    text-shadow: 0 0 2px #333;
    color:  var(--bg-gray)  !important;
}

/* Style the tab */

.dropdown-menu {
    top: 20%;
    z-index: 5000;
    left: 3%;
    border-radius: 25px;
    width: auto;
    height: inherit;
    padding-bottom: 0;
    display: none;
}
.dropdown-menu ul a:hover {
background: none;
color: var(--orange) !important;
}
.carousel-inner .btn-default{
    background-color: #b19848 !important;
    border-radius: 25px;
    position: absolute;
    z-index:10;
    top:74%;
    left: 5.4%;
}
.img70 img {
    width: 100% !important;
    height: auto;
    text-align: left;
}

.body-top-left .circle-span {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 3px solid var(--red);
    border-radius: 50%;
    float: left;
    margin-left: 2%;
    margin-right: 2%;

}
.body-top-left .rounded ,
.product-slider .rounded ,
.employment .card.rounded ,
.best-sellers .card.rounded ,
.two-box-banner .card.rounded {
    border-radius: 25px !important; 
    cursor: pointer;
}
.body-top-left .card-text {
    border-bottom: 1px solid var(--middle-gray);
}
.body-top-left .card-body .card-title,
.best-sellers .card-deck .card-body label,
.best-sellers .card-deck .card-body .best-price
{
 float: left !important;

}
.body-top-left .card-body,
.body-top-left .card-img-top {
    cursor: pointer;
}
.price {
 margin-right: 50%;
}

.old-price{
    text-decoration:line-through;
    font-weight: normal;
}
.product-slider .price-all{
    float: left;
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.product-slider .price-all .old-price{
    margin-right: 60px !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.discount .text-height-3{
    line-height: 150%;
}
.discount .btn-outline-warning:hover {
    background-color: var(--bg-gray);
    color: var(--red) !important;
}
.discount .btn-outline-warning ,
.two-box-banner .btn { 
    border: 1px solid var(--bg-gray);
    border-radius: 12px;
}
.carousel-gradient{
    position:absolute;
    z-index: 330 ;
    margin-top: 0px;
    width: inherit !important; 
    height: inherit!important;
    background-image : linear-gradient(to left,  transparent, #ea2f42  20%);
}
.body-top .carousel  img{
    width: 101% !important;
}
.opacity-50 {
    opacity: 0.3 !important;
    filter: blur(3px) !important;
    -webkit-filter: blur(1px);
}
/* crr-time */
@import url("https://fonts.googleapis.com/css?family=Lalezar");
body {
  background-color: #f6f6f6;
  color: #333;
  font-family: "Lalezar", tahoma, Arial, sans-serif;
  line-height: 1.42857;
}
/**********************************************************/

.best-sellers-title.border-bottom {
    border-bottom: 1px solid var(--orange) !important;
}
.best-sellers .text-muted.border-bottom {
    border-bottom: 2px solid var(--orange) !important;
    float: left;
}
.opacity-25 {
    opacity: 0.5;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
.see-all-btn {
    top:44%;
    right: 3.2%;
    border-radius: 15px !important;
}
.see-all-btn .btn-warning {
    background-color: var(--orange) !important;
    border: none !important;
}
.see-all-btn :hover {
    background-color:#da5c36!important;
    border: none !important;
}
.employment {
    height: 67vh !important;
}
.employment-sidebar{
    top: 3%;
    right: 2%;
    width: 20% !important;
    z-index: 500;
    border-radius: 20px;
    height: 67vh;
    position: relative;

}
.employment-back .card-body{
   
    padding-bottom: 0 !important;
}
.menu-pointer {
    width: inherit;
    height: 8.5%;
    position: relative;
    background: #da5c36;
    margin-left: 2.2% !important;
    display: block;
    z-index: 9000;
    padding-top:1%;
    overflow-y: hidden !important;
    border: 1px solid #da5c36;
  }
.two-box-banner span { 
    display: inline-block;
    margin-right: -10px !important;
    font-size: .74rem;
    padding-top: 3px;
}
.two-box-banner span::before {
   content: " ";
   display: inline-block;
   width: 27px;
   height: 27px;
   border-radius: 50px;
   position: absolute;
   top: 20%;
   left: 70%;
}
.two-box-banner .fa.fa-arrow-right:hover {
    right: 8% !important;
}
.two-box-banner .btn-light {
    top: 78%;
    left: 76%;
    padding-left: 35px !important;
    height: 13%;
    overflow-y: hidden !important;
    border-radius: 12px;
}
.two-box-banner .yellow-box,
.two-box-banner .blue-box
 {
    float: left !important;
    direction: ltr !important;
    margin-right: 20px !important;
    margin-left: -20px !important;
}
.two-box-banner .yellow-box::before {
    border: 5px solid #f3e7b3;
    background-color: #c3a418;
}
.two-box-banner .blue-box::before {
    border: 5px solid #CCE5FF;
    background-color:  #0080FF;
}
.employment-back {
    background-color:  #f3e0da;
}
.employment-sidebar-ground{
    height: 76%;
    top: 4.5%;
    left: 2%;
    width: 18.5vw !important;
    z-index: 400;
    border-radius: 20px;
    background-color: #e58668;
}
.employment-sidebar{
    top: 4%;
    right: 79.5%;
}
.employment-sidebar .current{
    background-color: #da5c36;
    width: 265px;
}
.employment-sidebar .current::after {
    content: " ";
    border-radius: 0.65rem;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    top: 0.5%;
    right: 90.5%;
    position: absolute;
    margin: 0 auto;
    padding: 0 auto;
    z-index: 2500;
    border: solid #da5c36  ;
    background-color: #da5c36;
    border-width: 0 15px 15px 0;
}
.employment-see {
    width: 80px !important;
} 
.employment-see :hover {
    color: #da5c36;

} 
.footer{
  background-color: #e5ecf2;  
  padding-left: 4%;
  padding-right: 4%;

}
.footer .most-visited
{
   
    text-align: left;
}
.footer .most-visited li{
    padding: 8px 0 ;
    cursor: pointer;
}
.most-visited .nav-item:hover ,
.info-arshad .nav-link:hover {
    color: var(--orange) !important;
}
.info-arshad .nav-info img{
    width: 25%;
    display: inline;
}